.dropdown {
  position: static !important;
}

.dropdown-menu.show {
  position: absolute;
  width: 100vw;
  display: flex !important;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 0;
  --bs-dropdown-spacer: 0;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}
.small-nav {
  display: none;
}

@media (max-width: 768px) {
  .navbar-nav {
    padding: 0.5rem 0;
  }

  .nav-item {
    padding: 0.5rem 0 !important;
  }

  .dropdown-toggle {
    display: none;
  }

  .small-nav {
    display: inline-block;
  }
}
