.dropdown {
  position: static !important;
}

.dropdown-menu.show {
  position: absolute;
  width: 100vw;
  display: flex !important;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 0;
  --bs-dropdown-spacer: 0;
}
