.dropdown {
  position: static !important;
}



.dropdown-menu.show {
  position: absolute;
  width: 100vw;
  display: flex !important;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 0;
  --bs-dropdown-spacer: 0;
  animation: slide-down 500ms ease-in-out;
}

@keyframes slide-down {
  from {
    margin-top: -100%;
  }
  
  to {
    margin-top: 0
  }
  
}

/* 
.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
} */
